.services_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service{
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-pimary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover{
    background: transparent;
    border-color: var(--color-pimary-variant);
    cursor: default;
}

.service_head{
    background: var(--color-pimary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgb(0, 0, 0, 0.1);
}

.service_head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service_list{
    padding: 2rem;
}

.service_list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.7rem;
    /* align-items: center; */
}

.service_checkIcon{
    color: var(--color-pimary);
    margin-top: 5.5px;
}

.service_list p {
    font-size: 0.9rem;
}

.sec{
    height: 90vh;
}